/*Header*/

.header-items {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 6px;
    background: #4E2C1E;
}
.tel {
    font-family: BookAntiqua, serif;
    font-weight: 300;
    text-wrap: none;
    color: white;
    padding-top: 12px;
    padding-left: 23px;
}

.buttons {
    list-style: none;
    padding-right: 23px;
}
.send, .request {
    position: relative;
    cursor: pointer;
    width: 173px;
    height: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 9px;
    background: rgb(253,245,215);
    background: linear-gradient(180deg, rgba(253,245,215,1) 0%, rgba(215,192,116,1) 70%, rgba(245,228,183,1) 100%);
    font-family: BookAntiqua, serif;
    font-weight: 300;
    font-size: medium;
    color: #472800;
}
.send:hover, .request:hover {
    background: linear-gradient(180deg, #E1B67A, #864F0D);
    border: 1px solid #AE741F;
    color: white;
}

.request-form {
    z-index: 3;
    position: absolute;
    right: 23px;
    width: 320px;
    height: auto;
    background-color: rgba(248, 239, 217, 0.85);
    border: 1px solid #CB8C31;
    border-radius: 5px;
}
.send-form {
    z-index: 3;
    position: absolute;
    top: 69px;
    right: 23px;
    width: 320px;
    height: auto;
    background-color: rgba(248, 239, 217, 0.85);
    border: 1px solid #CB8C31;
    border-radius: 5px;
}
.request-form form, .send-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.request-form form input, .send-form form input {
    width: 310px;
    height: 30px;
    margin: 5px 0;
    text-indent: 10px;
    border: 1px solid #CB8C31;
}
.request-form form select, .send-form form select {
    cursor: pointer;
    width: 312px;
    height: 30px;
    margin: 5px 0;
    text-indent: 5px;
    border: 1px solid #CB8C31;
    background: linear-gradient(90deg, white 0%, white 93%, #E4AC59 93%, #E4AC59 100%);
}
.request-form form textarea {
    width: 310px;
    height: 75px;
    margin: 5px 0;
    text-indent: 10px;
    border: 1px solid #CB8C31;
}
.request-form form button {
    cursor: pointer;
    width: 143px;
    height: 25px;
    margin: 25px 0 10px 0;
    background: linear-gradient(180deg, #E1B67A, #864F0D);
    border: 1px solid #AE741F;
    color: white;
    border-radius: 5px;
}
.send-form form button {
    cursor: pointer;
    width: 143px;
    height: 25px;
    margin: 20px 0 10px 0;
    background: linear-gradient(180deg, #E1B67A, #864F0D);
    border: 1px solid #AE741F;
    color: white;
    border-radius: 5px;
}
.request-form form button:hover, .send-form form button:hover {
    background: rgb(253,245,215);
    background: linear-gradient(180deg, rgba(253,245,215,1) 0%, rgba(215,192,116,1) 70%, rgba(245,228,183,1) 100%);
    color: #472800;
}

/*Навигация*/

.navigation {
    border-bottom: 2px solid #4E2C1E;
    border-radius: 5px;

}


.nav-list {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height: 38px;
    margin-top: -3px;
    border-top: 1px solid #D5BDA0;
    border-bottom: 1px solid #D5BDA0;
    border-radius: 5px;

    background: linear-gradient(180deg, #E1B67A, #864F0D);
}
.nav-list .nav-item:first-child {
    width: 114px;
    border-right: 1px solid #4E2C1E;
    border-left: 1px solid #D5BDA0;
    border-radius: 5px 0 0 5px;
}

.nav-list .nav-item:last-child {
    width: 114px;
    border-right: 1px solid #D5BDA0;
    border-left: 1px solid #D5BDA0;
    border-radius: 0 5px 5px 0;
}
.custom-left {
    width: 87px;
    border-left: 1px solid #D5BDA0;
}
.custom-left .nav-link {
    padding-left: 15px;
}
.custom-right {
    width: 87px;
    border-right: 1px solid #4E2C1E;
}
.custom-right .nav-link  {
    padding-right: 28px;

}
.regular {
    width: 114px;
    border-right: 1px solid #4E2C1E;
    border-left: 1px solid #D5BDA0;
}


.nav-item {
    text-align: center;
    word-wrap: break-word;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    color: white;
    /*padding: 10px 25px;*/
}

.list_logo {
    z-index: 2;
}
.logo {
    margin-top: -21px;
}

/*Выпадающий список*/
#drop-list {
    position: relative;
}

#drop-list:hover {
    background: linear-gradient(180deg, rgba(253,245,215,1) 0%, rgba(215,192,116,1) 70%, rgba(245,228,183,1) 100%);
}
#drop-list:hover .nav-link {
    color: #3e2318;
}
.pop-up {
    position: absolute;
    list-style: none;
    width: 190px;
    height: auto;
    top: 38px;
    left: -1px;
    border: 1px solid #D5BDA0;
    background: #F4E2B4;
    z-index: 1;
}
.pop-up_item {
    cursor: pointer;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.pop-up_item:hover {
    background: #D8AF75;
}
.pop-up_link {
    text-decoration: none;
    color: #3e2318;
    padding-left: 10px;
}