/*Уникальный контент для главной страницы*/

/*Блок информации*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFBEA;
}
.about-cards {
    display: flex;
    justify-content: center;
    width: 883px;
    height: 283px;
    margin-top: 26px;
    margin-bottom: 20px;
    background-color: #FFFBEA;
    background-image: url("../images/ornament.png");
    background-size: contain;
}

/*Карточки блока информации */

.left-block, .right-block {
    width: 441px;
    height: 283px;
}
.left-block h2, .right-block h2 {
    font-family: 'GaramondC', serif;
    font-size: 24px;
    line-height: 1;
    color: #35190d;
}
.left-block h2 {
    margin-top: 30px;
    margin-left: 45px;
}
.right-block h2 {
    margin-top: 30px;
    margin-right: 45px;
}
.left-block p, .right-block p {
    font-family: Arial, sans-serif;
    color: #3e2318;
    /*text-align: justify;*/
    line-height: 1.2;
    font-size: 13px;
}
.left-block p {
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 30px;
}
.right-block p {
    margin-top: 20px;
    margin-right: 45px;
    margin-left: 30px;
    text-align: left;

}
.left-block {
    text-align: left;
}
.right-block {
    text-align: right;
}
.left-block img {
    display: inline-block;
    float: right;
    margin: 22px 31px 0 10px;

}
.right-block img {
    display: inline-block;
    float: left;
    margin: 13px 22px 0 31px;
}
.left-block_button, .right-block_button {
    cursor: pointer;
    width: 125px;
    height: 26px;
    border: 1px solid #4E2C1E;
    border-radius: 5px;
    font-family: Verdana, sans-serif;
    color: #FFFBEA;
    background: linear-gradient(180deg, #E1B67A, #864F0D);
}
.left-block_button:hover, .right-block_button:hover {
    color: #35190d;
    background: rgb(253,245,215);
    background: linear-gradient(180deg, rgba(253,245,215,1) 0%, rgba(215,192,116,1) 70%, rgba(245,228,183,1) 100%);
}
.left-block_button {
    float: right;
    margin: 17px 30px 14px 0;


}
.right-block_button {
    float: left;
    margin: 17px 0 14px 30px;

}

/*Картинки блока информации*/
.about-images {
    display: flex;
    justify-content: center;
}
.stuff-img {
    width: 182px;
    height: 189px;
    /*border: 2px solid #7a5434;*/
    margin: 15px 12px;
}
.stuff-img img {
    width: 182px;
    height: 189px;
}

/*Основная текстовая информация*/

.about-info {
    margin: 10px 22px 110px 22px;
    font-family: Arial, sans-serif;
    color: #3e2318;
}
.about-info h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}
.about-info p {
    width: 883px;
    font-size: 14px;
    text-align: justify;

    margin: 10px 0;
}
.paragraph-first {
    line-height: 1.3;
    word-spacing: 14px;
}
.paragraph-two {
    line-height: 1.2;
    word-spacing: 5px;
}