 /*слайдер*/
.slider {
    background-color: #FFFBEA;
    width: 100%;
    position: relative;
    height: auto;
    margin: auto auto 0;
    overflow: hidden;
}
 /*Картинка */
.slider .slider-item img {
    object-fit: cover;
    width: 100%;
    height: 325px;
    box-shadow: 0 1px 8px #775534;

}

 /*Кружочки */
.slider-dots {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #FFFBEA;
    line-height: 20px;
}
.slider-dots_item{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 7px;
    background-color: #E2B67D;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 #4E2C1E inset;

    display: inline-block;
    vertical-align: middle;
    transition: background-color 0.6s ease;
}

.slider-dots_item:hover {
    background-color: #4E2C1E;
}
.slider-dots_item.active {
    height: 11px;
    width: 11px;
    background: #4E2C1E;
    border: 2px solid white;
    box-shadow: 0 0 0 1px #4E2C1E;
}
