.stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFBEA;
}
.stuff-form {

    width: 882px;
    margin-top: 26px;
    margin-bottom: 20px;
    background-color: #FFFBEA;
    background-image: url("../images/ornament2.png");
    background-repeat: no-repeat;
    background-position: top;
}
.stuff-form form {
    width: 862px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(241, 236, 210, 0);
    border: 1px solid #7a5434;
    border-radius: 5px;
}


.params {
    display: flex;
    flex-direction: column;
}
.exp, .age {
    display: flex;
}