.d-none {
    display: none;
}


.stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFBEA;
}
.stuff-title {
    font-family: BookAntiqua, serif;
    color: #45250a;
    margin-top: 15px;
}
.stuff-form {
    font-family: Verdana, sans-serif;
    color: #45250a;
    width: 882px;
    margin-top: 26px;
    margin-bottom: 20px;
    background-color: #FFFBEA;
    background-image: url("../images/ornament2.png");
    background-repeat: no-repeat;
    background-position: top;
}
.stuff-form form {
    width: 862px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6EED2;
    border: 1px solid #7a5434;
    border-radius: 5px;
}

#stuff-select {
    margin-top: 6px;
    padding-inline-start: 5px ;
    width: 200px;
    height: 30px;
    background: linear-gradient(90deg, white 0%, white 90%, #E4AC59 90%, #E4AC59 100%);
}

.params {
    display: flex;
    flex-direction: column;
}
.exp, .age {
    display: flex;
    margin: 3px;
}
.exp label, .age label {
    margin: 0 5px;
}
#min-exp, #max-exp, #min-age, #max-age {
    width: 33px;
}

.submit-btn {
    width: 140px;
    height: 25px;
    border: 1px solid #AB6E17;
    border-radius: 5px;
    background: linear-gradient(180deg, #E1B67A, #864F0D);
    color: white;
}
.submit-btn:hover {
    background: linear-gradient(180deg, rgba(253,245,215,1) 0%, rgba(215,192,116,1) 70%, rgba(245,228,183,1) 100%);
    color: #3e2318;

}

.table {
    width: 882px;
    height: auto;
    margin: 0 22px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
td {
    padding: 5px 0;
}
.table-header tr {
    background-color: #3e2318;
    border-radius: 5px 5px 0 0;
}
.table-header tr td:first-child {
    border: 1px solid #E9C06B;
    border-radius: 5px 0 0 0;
}
.table-header tr td:is(:nth-child(2), :nth-child(3)) {
    border: 1px solid #E9C06B;
}
.table-header tr td:last-child {
    border: 1px solid #E9C06B;
    border-radius: 0 5px 0 0;
}
.table-header tr td {
    text-align: center;
    color: white;
}

.stuff-container {
    color: #45250a;

}
.stuff-container .template:nth-child(odd) td {
    background-color: white;
    border-top: 1px solid #E9C06B;
    border-bottom: 1px solid #E9C06B;
}
.stuff-container .template:nth-child(even) td {
    border-left: 1px solid #E9C06B;
    border-right: 1px solid #E9C06B;
    border-bottom: 1px solid #E9C06B;
}
.template-name {
    font-weight: bold;
    padding-inline-start: 5px;
}
.template-job, .template-age, .template-exp {
    text-align: center;
}

